nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D7D8D2; 
    border-radius: 0.5em;
    width: 30vw;
    height: 7vh;
    position: absolute;
    right: 35vw;
    top: 5vh;
}
.pixel-text {
    font-family: "Press Start 2P", cursive;
  }

nav a {
    display: inline-block;
    color: white;
    position: relative;
    font-size: 1em;
    font-weight: 500;
    margin: 3vw; 
    z-index: 1;
    text-decoration: none;
    text-align: center;
}
a:nth-child(1){
    width: 16vw;
}
a:nth-child(2){
    width: 16vw;
}
a:nth-child(3){
    width: 16vw;
}

nav .animation {
    position: absolute;
    height: 100%;
    background: #A2342B;
    border-radius: 0.5em;
    z-index: 0;
    transition: 0.5s;
    width: 5vw;
    border-radius: 0.5em;
}
nav .start-home, a:nth-child(1):hover ~ .animation {
    width: 8vw;
    left: -3vw;
}
nav .start-home, a:nth-child(2):hover ~ .animation {
    width: 11vw;
    left: 8vw;
}
nav .start-home, a:nth-child(3):hover ~ .animation {
    width: 10vw;
    left: 23vw;
}
